* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  outline: none;
}

body {
  color: white;
  height: 100%;
}
button {
  border: none;
}
.app {
  background-color: #222831;
}
li {
  list-style: none;
}

.navbar {
  color: white;
  background-color: #393e46;
  height: 60px;

  .navbar-container {
    margin: 0 auto;
    max-height: 50px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  form {
    input {
      width: 400px;
      height: 40px;
      padding: 10px;
      color: black;
      border-radius: 5px;
      outline: none;
      border: 2px solid #222831;
    }
    button {
      border-radius: 5px;
      width: 50px;
      height: 40px;
      background-color: #222831;
      color: white;
    }
  }
  .watchlist {
    display: flex;
    gap: 10px;
  }
  .autocomplete {
    position: absolute;
    width: 400px;
    height: 500px;
    margin: auto;
    z-index: 3;
    border-radius: 0 0 10px 10px;
    overflow: auto;
    background-color: #222831;
    color: white;

    img {
      max-width: 60px;
      padding: 5px;
    }
    .searched-list {
      border-bottom: 1px solid grey;
      display: flex;
      cursor: pointer;
    }
  }
  .focus-out {
    display: none;
  }
}
.header {
  display: flex;
  max-width: 1400px;
  margin: 30px auto;
  gap: 30px;
  color: white;
  .carousel {
    min-width: 800px;
    img {
      filter: brightness(50%);
    }
  }
  .tv-series {
    width: 100%;
    color: white;
    img {
      object-fit: contain;
      width: 130px;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 10px;
      li {
        display: flex;
        gap: 20px;
        .tv-detail {
          p {
            overflow: hidden;
            height: 100px;
          }
        }
      }
    }
  }
}

.main {
  display: flex;
  max-width: 1400px;
  margin: 30px auto;

  .movie-list,
  .tv-list {
    color: white;

    ul {
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 20px;
      padding: 0;
      li {
        background-color: #393e46;
        max-width: 300px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        cursor: pointer;

        .details {
          font-size: 18px;
          height: 130px;
          .movie-rate,
          .tv-rate {
            display: flex;
            margin-left: 20px;
            margin-top: 10px;
          }
          .movie-name,
          .tv-name {
            display: flex;
            margin-left: 20px;
            height: 30px;
            text-align: start;
          }

          button {
            padding: 5px 10px;
            background-color: #222831;
            color: white;
            margin-top: 25px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        img {
          object-fit: contain;
          height: auto;
          width: 100%;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    .load-more {
      width: 1400px;
      display: flex;
      justify-content: center;
      .load-more-btn {
        background-color: #393e46;
        padding: 10px 20px;
        color: white;
        font-size: 20px;
        margin: 20px 0;
        border-radius: 5px;
      }
    }
  }
}
.more-detail {
  color: white;
  .about-the-movie {
    min-width: 3000px;
  }
}
.footer {
  background-color: #393e46;
  height: 200px;
}
